<div class="jumbotron">
    <h1>SOCCER TOTAL</h1>
    <p class="lead">Aplicacion para estadisticas de Encuentro de fútbol</p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
